---
layout: default
---
<header>

  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
  <h4>N A V I G A T E</h4>
  <a href="https://haydenc.dev">Projects</a>
  <br>
  <a href="recipes.html">Recipes</a>
  <br>
  <a href="resume.html">Resume</a>
  <br>
  <a href="archive.html">Archive</a>
  <style>h4 {
    color: #FFFAEE;
    font-family: Satoshi-Medium,serif;
    font-size: 12px;
  font-weight: 500;}
  </style>
  <h4>C O N N E C T</h4>
  Email &nbsp; &nbsp;         <a href="mailto:hydnwc@gmail.com">hydnwc@gmail.com</a> <br>
  LinkedIn &nbsp; &nbsp;           <a href="https://linkedin.com/in/haydenwc">@haydenwc</a> <br> <br> <br>

</header>
{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}